<router-outlet></router-outlet>


{{text}}
<div>
    <input type="text" [(ngModel)]="text" (keyup.enter)="onEnter(text)">
</div>
<small *ngIf="isError" style="color: red">error message</small>


<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit(userProfileForm)">
    <input class="form-control" type="text" formControlName="firstname" required>
    <input type="text" formControlName="lastname">
    
    <div formGroupName="date">
        <input type="date" formControlName="from">
        <input type="date" formControlName="to">
    </div>
    
    <div *ngFor="let creditCard of creditCards.controls; let i = index" formArrayName="creditCards">
        <div [formGroupName]="i">
            <input type="text" formControlName="name">
            <input type="text" formControlName="bank">
        </div>
    </div>
    


    <button type="button" (click)="addCreditCard()">add credit card</button>
    <button type="button">reset</button>
    <button type="submit">submit</button>
</form>

<!-- <p>todo works!</p>
<app-todo-list></app-todo-list> -->


<!-- <msg>
    <msg-panel>
        <msg-panel-nav>
            <button></button>
        </msg-panel-nav>
    </msg-panel>
</msg> -->

<!-- <parent>
    <child>
        <item-list [items]="data" (selectItem)=""></item-list>
        <div *ngFor="let item of items" (click)="onClick($event)"></div>
    </child>
</parent> -->